{{#each something in @key}}
<div class="attractionName" id="attraction{{something.id}}">
    {{something.name}}
    <div class="hidden" id="attraction{{something.id}}">
        <p>{{something.description}}</p>
        {{#if times}}
            {{#each times}}
               <li>{{this}}</li> 
            {{/each}}
        {{/if}}
    </div>
</div>
{{/each}}
