{{#each this}}
<div class="attractionName" id="attraction{{id}}">
    <a href="#">{{name}} ({{typeName}})</a>
    <div class="hidden" id="attraction{{id}}">
        <p>{{description}}</p>
        {{#if times}}
            {{#each this}}

                <ul class="eventTimes>
                    <li>{{times}}</li> 
                </ul>
            {{/each}}
        {{/if}}
    </div>
</div>
{{/each}}
