{{!-- <div class="attractionName" id="attraction{{id}}">
    {{name}}
    <div class="hidden" id="attraction{{id}}">
        <p>{{description}}</p>
        {{#if times}}
            {{#each times}}
               <li>{{this}}</li> 
            {{/each}}
        {{/if}}
    </div>
</div> --}}
