<div class="attractionName" id="attraction{{id}}">
    <a href="#">{{name}} ({{typeName}})</a>
    <div class="hidden" id="attraction{{id}}">
        <p>{{description}}</p>
        <p>{{times}}</p>
        {{!-- <p>{{times}}</p> --}}
        {{!-- {{#if times}}
            {{#each times}}
                <p>{{this}}</p> 
            {{/each}}
        {{/if}} --}}
    </div>
</div>