

{{!-- // What is was --}}
{{!-- `<div class="attractionName" id="attraction${areaAttractionArr[i].id}">
    ${areaAttractionArr[i].name}
    <div class="hidden" id="attraction${areaAttractionArr[i].id}">
        <p>${areaAttractionArr[i].description}</p>
    </div>
</div>` --}}

{{!-- // What it is now with handlebars --}}
{{!-- <div class="attractionName" id="attraction{{id}}">
    {{name}}
    <div class="hidden" id="attraction{{id}}">
        <p>{{description}}</p>
        {{#if times}}{{times}}
        {{/if}}
    </div>
</div> --}}